body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.808), rgba(0, 0, 0, 0.8)), 
  url("./background.jpg");
  background-size: cover;
}

.row>* {
  padding: 0px;
}

@media (min-width: 992px) { 
  .mx-lg-5, .mx-md-5{
    margin-left: 20em !important;
    margin-right: 20em !important;
  }
}

textarea.form-control{
  height: 0.5em;
  resize: vertical;
}

.alert{
  padding: 0.6em;
  overflow-wrap: break-word;
  word-break: break-all;
  width: 80%;
}

body{

	color: white;
}

input{
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.fuente{
  font-size: 1.5em;
}

a{
  color: white;
}

a:hover{
  color: cyan;
}