body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.808), rgba(0, 0, 0, 0.8)), 
  url("https://qph.cf2.quoracdn.net/main-qimg-6a21920c78cd26d7877965ed2961eda8");
  background-size: cover;
}

.row>* {
  padding: 0px;
}

.alert{
  padding: 0.6em;
  overflow-wrap: break-word;
  word-wrap: break-word;
  width: 80%;
}

body{

	color: white;
}

.fuente{
  font-size: 1.5em;
}

a{
  color: white;
}

a:hover{
  color: cyan;
}